main {
    position: initial;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listProducts ul {
    list-style: none;
    gap: 30px;
    display: grid;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.listProducts img {
    width: 260px;
    height: 300px;
}

.listProducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 90%;
}

.listProducts a {
    color: black;
}

.listProducts li {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    width: min-content;
}

#btns_moreInfo {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.listProducts p {
    padding-top: 10px;
    font-weight: 400;
}

#imgShoppingCart {
    width: 30px;
    height: 30px;
}

.page-link.active,
.active>.page-link {
    border-color: black !important;
}

.pagination {
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 63%) !important;
}

.page-item .active {
    background-color: brown;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 730px) {
    .navHeader {
        flex-direction: column;
        gap: 5px;
    }

    main {
        margin-top: 170px;
    }

    .sectionSearch {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .sectionSearch {
        flex-direction: column;
    }

    .formSearch {
        display: flex;
        justify-content: center;
    }

    main {
        margin-top: 200px;
    }

    .navHeader {
        padding-bottom: 20px;
    }
}

@media (min-width: 610px) {
    .listProducts ul {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}