.listDeleteProducts ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    justify-items: center;
}
ul{
    list-style: none;
}
.listDeleteProducts li{
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: space-between;
}
.listDeleteProducts button{
    border-style: none;
    border-radius: 10px;
    padding: 5px;
}
#formAddProducts button, #formEditProducts button, #formCategories button{
    margin-top: 20px;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
}
.listDeleteProducts a{
    list-style: none;
    color: black;
}
#formEditProducts font{
    vertical-align: 'inherit'
}
#formEditProducts select{
    height: auto;
}
#formCategories button{
    margin-right: 20px;
}